:root {
    --color-blue600: #1E88E5;
    --color-grey: #7e7e7e;
}

html {
    padding: 0px;
    margin: 0px; 
}

body {
    background-color: #efefef;
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu"
}

a {
    text-decoration: none;
}

#header {
    background: url("assets/seamless_bg.png"), var(--color-blue600);
    background-blend-mode: multiply;
    background-opacity: 0.5;
    text-align: center;
    height: 4000px;
}

#header-content {
    display: flex;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 60px;
}

#headline {
    display: flex;
    flex-flow: wrap;
    align-self: center;
    color: white;
}

h1 {
    margin: 0px;
    font-size: 70px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 300;
}

#main {
    max-width: 1400px;
    margin: 0 auto;
    
}

#welcome-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    align-content:flex-start;
    background-color: white;
    /*padding: 4% 4%;*/
    transition: transform 0.5s;
    transform: translate(0, 0); 
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.03), 0 3px 3px -2px rgba(0,0,0,0.01), 0 1px 8px 0 rgba(0,0,0,0.09);   
    padding: 25px;
}

#welcome-card img {
    min-width: 290px;
    width: 30%;
    display: flex;
    margin: 25px;
}

#welcome-card h1 {
    margin-top: 15px;
}

#welcome-card .msg {
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    max-width: 840px;
    line-height: 40px;
    margin: 25px;
}

.link-container {
    display: flex;
    flex-flow: wrap;
    margin-left: -13px;
}

.z0 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.16);
}

.social-link {
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    margin: 13px;
    margin-top: 14px;
    margin-bottom: 0px;
    cursor: pointer;
}

.social-link object {
    height: 30px;
    margin: auto 0;
    margin-right: 15px;
}

.showcase {
	overflow: hidden;
    position: relative;
    padding: 0 7%;
}

.right-heavy {
   text-align: right;
}

.git-project {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    padding-bottom: 20px;
    max-width: 80%;
    margin: 20px auto;
    cursor: pointer;
}

.git-project object {
    display: flex;
    height: 50px;   
    align-self: center;
    margin-right: 40px;
}

.wrap-reverse {
    flex-flow: wrap-reverse !important;
}

.justify-right {
    justify-content: flex-end !important;
}

.justify-left {
    justify-content: flex-start !important;
}

.git-project div {
    display: flex;
    max-width: 600px;
    flex-flow: wrap;
}

.git-project i {
    display: flex;
    font-size: 50px;
    align-self: center;
}

.git-project h4 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 30;
    padding: 0 5px;
}

.git-project h5 {
    margin: 0;
    max-width: 900px;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    padding: 0 5px;
}

.git-project .right-icon {
    display: flex;
    align-self: flex-end;
    margin-left: 50px;
    margin-top: auto;
    width: 145px;
    height: 145px;
}

.git-project .left-icon {
    display: flex;
    margin-right: 50px; 
    width: 145px;
    height: 145px;
    margin-top: auto;
}

.reverse-flex {
    flex-direction: column-reverse;
}

.tag-container {
    margin-top: 10px;  
}

.tag-container div {
    display: flex !important;
    border: 1px solid black;
    margin: 5px;
    width: auto;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
}

.tag-container .dark {
    background-color: black;
    color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-weight: 800;
}

.tag-container li {
    display: inline-block;
}

.tag-container object {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-bottom: 2.5px;
    margin-top: 3px;
    margin-right: 5px;
}

object {
    pointer-events: none;
}

hr {
	display: none;
    height: 1px;
    border: none;
    background-color: var(--color-grey);
}


.elevation-1 {
    box-shadow: 0 7px 14px 0 rgba(60,66,87,.08),0 3px 6px 0 rgba(0,0,0,.12)
}

.timeline {
    position: absolute;
    margin: 35px 0px;
    top: 0px;
    width: 2px;
    bottom: 0px;
    opacity: 0.3;
}

.right {
    right: 0px !important;
}

.left {
    left: 0px !important;
}

.timeline .wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-grey);
}

.timeline .big-knob {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--color-grey);
    top: 0px;
    transform: translate(-14px, 0px);
}

.timeline .dyno {
	display: none;
    position: sticky;
    top: 70%;
    width: 20px;
    height: 20px;
    float: right;
    background-color: var(--color-grey);
    border-radius: 10px;
    transform: translate(9px, 0px);
}

@media screen and (max-width:1300px){    
    #navDiv { display:none !important; }
    #art-current-main { display: none; !important; }
}

#navDiv {
    top: 50;
    position: relative;
	z-index: 1;
    max-width: 1200px;
    display: flex;
    margin: auto;
    width: 100%;
}

#navDiv .line-wrap {
    height: 100px;
    width: 100%;
}

#navDiv .text {
    position: absolute;
    top: -48px;
    left: 100px;
    font-size: 30px;
    color: var(--color-grey);
    transition: transform 0.3s;
    cursor: pointer;
}

#navDiv .text:hover {
    transform: scale(1.3, 1.3) translate(0, -3px);
}

#navDiv .text::after {
    display: block;
    top: 30px;
    width: 20px;
    height: 20px;
    content: "\00a0";
    margin: 0 auto;
    transform: translate(0, 5px);
    background-color: var(--color-grey);
}

#navDiv .line {
    background-color: var(--color-grey);
    width: 100%;
    margin-right: 100px;
    margin-bottom: 100px;
    height: 1px;
}

#navDiv .line:last-child {
    width: 40%;
    margin-left: auto;
    margin-right: 0px;
}

#navDiv .right-edge {
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--color-grey);
    border-left-width: 0px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#art-container {
    display: flex;
    flex-flow: nowrap;
    overflow-x: auto;
    height: 290px;
    width: 90%;
    margin-left: auto;
}

#art-container img {
    margin: 5px;
    flex: 0 0 auto;
    width: 320px;
    height: 250px;
    object-fit: cover;
    transition: all 0.5s;
}

#art-container .big-img {
    width: 1290px;
    height: auto;
    object-fit: contain;
}

#art-current-main {
    width: 100%;
    height: 700px;
    margin-bottom: 5px;
    background-color: black;
    text-align: center;
}

#art-current-main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s;
}

.show-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.show-scrollbar::-webkit-scrollbar:horizontal {
    height: 26px;
pointer-events: none;
}

.show-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--color-grey);
    pointer-events: none;
}
.show-scrollbar::-webkit-scrollbar-track { 
    background-color: var(--color-grey); 
    border-radius: 8px; 
    background-clip: content-box;
    border: 12px solid transparent;  
    border-right-width: 50px;
}

.no-padding {
    padding: 0px !important;
}

.margin-7 {
    margin-right: 7%;
}
body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000']{
transition-duration: 4000ms;
}

#skills-container {
	cursor: pointer;
}

#skills-container object {
	width: 350px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
}
